body {
  padding-top: 50px;
}
div#mainBody {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(244, 186, 186) 0%,
    rgb(194, 157, 231) 90%
  );
  border-radius: 120px;
}

#search-city,
.btn.btn-outline-secondary.btn-light,
#current-button {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}
#search {
  margin-left: 1px;
}

#current-button {
  position: absolute;
  top: 45px;
  right: 185px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid grey;
  transition: all 300ms ease;
}

#current-button:hover {
  background: grey;
  cursor: pointer;
}

div#info1 {
  display: block;
  margin: 0 auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(244, 186, 186) 0%,
    rgb(194, 157, 231) 90%
  );
  border-radius: 100px;
}
div#info2,
div#info3,
div#info4,
div#info5,
div#info6 {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(244, 186, 186) 0%,
    rgb(194, 157, 231) 90%
  );
  border-radius: 100px;
}
.col-sm-2 {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  margin: 10px 0;
  padding: 20px;
}

h1,
h2,
h5,
h6,
input.form-control,
#current-button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p#time {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 5px;
  font-size: 30px;
}

.card-title {
  font-size: 18px;
}
.footer {
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#info1:hover {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  color: #c8a0e2;
  border: 1px solid #c8a0e2;
  cursor: pointer;
}

#info2:hover,
#info3:hover,
#info4:hover,
#info5:hover,
#info6:hover {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  color: #c8a0e2;
  border: 1px solid #c8a0e2;
  cursor: pointer;
}
